Repository reactiveui/ReactiveUI, pull requests merged in 2018-07, with the labels that each got.

#1546 Add Tizen backend
  build.cake
  src/Directory.build.targets
  src/EventBuilder/Cecil/EventTemplateInformation.cs
  src/EventBuilder/CommandLineOptions.cs
  src/EventBuilder/EventBuilder.sln
  src/EventBuilder/Platforms/Tizen.cs
  src/EventBuilder/Program.cs
  src/ReactiveUI.Events/ReactiveUI.Events.csproj
  src/ReactiveUI/Platforms/tizen/EcoreMainloopScheduler.cs
  src/ReactiveUI/Platforms/tizen/PlatformOperations.cs
  src/ReactiveUI/Platforms/tizen/PlatformRegistrations.cs
  src/ReactiveUI/ReactiveUI.csproj
Labels: tizen

#1312 Wait for scheduler uwp
  src/ReactiveUI.Tests/Platforms/winforms/CommandBindingTests.cs
  src/ReactiveUI.Tests/Platforms/winforms/RoutedViewHostTests.cs
  src/ReactiveUI.Tests/WaitForDispatcherSchedulerTests.cs
  src/ReactiveUI.Winforms/CreatesCommandBinding.cs
  src/ReactiveUI/Platforms/windows-common/ReactiveUserControl.cs
  src/ReactiveUI/WaitForDispatcherScheduler.cs
Labels: universal-windows-platform

#1690 fix: Update teams to point towards correct URI
  README.md
Labels: documentation

#1604 stamp ReactiveUI ($(TargetFramework)) into builds
  src/Directory.build.props
Labels: consumer-experience, reactiveui-core

#1366 fix: check for unsupported range actions in ReactiveList on WPF
  src/ReactiveUI.Tests/ReactiveCollectionTest.cs
  src/ReactiveUI/ReactiveList.cs
Labels: bug, help wanted, windows-presentation-foundation

#1651 Fix InitializeReactiveUI
  src/ReactiveUI/IDependencyResolver.cs
Labels: bug, reactiveui-core

#1680 Add ResolveStrategy parameter to WireUpControls in ReactiveUI.AndroidSupport
  src/ReactiveUI.AndroidSupport/ControlFetcherMixin.cs
Labels: bug, xamarin-android

#1693 fix: MSBuild.Extras was mistakenly adding incorrect framework references
  src/Directory.build.props
Labels: housekeeping

#1695 Fix MSBuild.Sdk.Extras support to use the new syntax.
  src/Directory.build.props
  src/Directory.build.targets
  src/EventBuilder/EventBuilder.csproj
  src/ReactiveUI.AndroidSupport/ReactiveUI.AndroidSupport.csproj
  src/ReactiveUI.Blend/ReactiveUI.Blend.csproj
  src/ReactiveUI.Events.WPF/ReactiveUI.Events.WPF.csproj
  src/ReactiveUI.Events.Winforms/ReactiveUI.Events.Winforms.csproj
  src/ReactiveUI.Events.XamForms/ReactiveUI.Events.XamForms.csproj
  src/ReactiveUI.Events/ReactiveUI.Events.csproj
  src/ReactiveUI.Fody.Helpers/ReactiveUI.Fody.Helpers.csproj
  src/ReactiveUI.Fody.Tests/ReactiveUI.Fody.Tests.csproj
  src/ReactiveUI.LeakTests/ReactiveUI.LeakTests.csproj
  src/ReactiveUI.Testing/ReactiveUI.Testing.csproj
  src/ReactiveUI.Tests/ReactiveUI.Tests.csproj
  src/ReactiveUI.Winforms/ReactiveUI.Winforms.csproj
  src/ReactiveUI.Wpf/ReactiveUI.Wpf.csproj
  src/ReactiveUI.XamForms/ReactiveUI.XamForms.csproj
  src/ReactiveUI/Platforms/netcoreapp2.1/PlatformRegistrations.cs
  src/ReactiveUI/ReactiveUI.csproj
  src/global.json
Labels: bug, build
