Repository reactiveui/ReactiveUI, pull requests merged in 2019-10, with the labels that each got.

#2189 Housekeeping: Msbuild nuget package description validation
  src/Directory.build.props
  src/Directory.build.targets
Labels: blocked, build, contributor-experience, maintainer-experience

#2199 feature: Add Roslyn Analyzer for Fody plugin
  build.cake
  src/ReactiveUI.Fody.Analyzer.Test/Helpers/CodeFixVerifier.Helper.cs
  src/ReactiveUI.Fody.Analyzer.Test/Helpers/DiagnosticResult.cs
  src/ReactiveUI.Fody.Analyzer.Test/Helpers/DiagnosticResultLocation.cs
  src/ReactiveUI.Fody.Analyzer.Test/Helpers/DiagnosticVerifier.Helper.cs
  src/ReactiveUI.Fody.Analyzer.Test/ReactiveObjectAnalyzerTest.cs
  src/ReactiveUI.Fody.Analyzer.Test/ReactiveUI.Fody.Analyzer.Test.csproj
  src/ReactiveUI.Fody.Analyzer.Test/Verifiers/DiagnosticVerifier.cs
  src/ReactiveUI.Fody.Analyzer/ReactiveObjectAnalyzer.cs
  src/ReactiveUI.Fody.Analyzer/ReactiveUI.Fody.Analyzer.csproj
  src/ReactiveUI.sln
Labels: reactiveui-fody

#2201 feature: add Android unit tests
  .gitignore
  src/ReactiveUI.Android.Tests/Assets/AboutAssets.txt
  src/ReactiveUI.Android.Tests/Assets/xunit.runner.json
  src/ReactiveUI.Android.Tests/MainActivity.cs
  src/ReactiveUI.Android.Tests/Properties/AndroidManifest.xml
  src/ReactiveUI.Android.Tests/Properties/AssemblyInfo.cs
  src/ReactiveUI.Android.Tests/ReactiveUI.Android.Tests.csproj
  src/ReactiveUI.Android.Tests/Resources/AboutResources.txt
  src/ReactiveUI.Android.Tests/Resources/drawable/Icon.png
  src/ReactiveUI.Android.Tests/Resources/layout/Main.axml
  src/ReactiveUI.Android.Tests/Resources/values/Strings.xml
  src/ReactiveUI.Tests/Locator/DefaultViewLocatorTests.cs
  src/ReactiveUI.Tests/ReactiveUI.Tests.csproj
  src/ReactiveUI.Tests/Resolvers/PocoObservableForPropertyTests.cs
  src/ReactiveUI.sln
  src/ReactiveUI/EventHandlers/LocalizableAttribute.cs
Labels: xamarin-android
